In [1]:
import pandas as pd

In [2]:
# read base zoning input files

z_p = pd.read_csv(r'C:\Users\ywang\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim\PBA50\Current PBA50 Large General Input Data\2020_11_05_zoning_parcels_hybrid_pba50.csv',
                  usecols = ['PARCEL_ID', 'geom_id', 'zoning_id'])
z_lookup = pd.read_csv(r'C:\Users\ywang\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim\PBA50\Current PBA50 Large General Input Data\2020_11_05_zoning_lookup_hybrid_pba50.csv')
basezoning = z_p.merge(z_lookup, left_on = 'zoning_id', right_on = 'id', how='left')
print('basezoning has {} records'.format(basezoning.shape[0]))

basezoning has 1950732 records

In [3]:
# rename columns
basezoning.rename(columns = {'juris': 'juris_basezoning',
                             'max_dua': 'max_dua_basezoning',
                             'max_far': 'max_far_basezoning',
                             'HS': 'HS_basezoning',
                             'HT': 'HT_basezoning', 
                             'HM': 'HM_basezoning',
                             'OF': 'OF_basezoning',
                             'HO': 'HO_basezoning',
                             'SC': 'SC_basezoning',
                             'IL': 'IL_basezoning',
                             'IW': 'IW_basezoning',
                             'IH': 'IH_basezoning',
                             'RS': 'RS_basezoning',
                             'RB': 'RB_basezoning',
                             'MR': 'MR_basezoning',
                             'MT': 'MR_basezoning',
                             'ME': 'ME_basezoning'}, inplace=True)
display(basezoning.head())

,PARCEL_ID,geom_id,zoning_id,id,juris_basezoning,name,max_dua_basezoning,max_far_basezoning,max_height,HS_basezoning,...,HO_basezoning,SC_basezoning,IL_basezoning,IW_basezoning,IH_basezoning,RS_basezoning,RB_basezoning,MR_basezoning,MR_basezoning,ME_basezoning
0,229116,10305106092872,461,461,livermore,NODEV_pba40,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,244166,11107351665227,462,462,livermore,GP-UM_pba40,14.00,NaN,35.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,202378,11030175960628,401,401,hayward,LDR_pba40,8.70,2.000000,30.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2004420,6381677629073,8282,8282,unincorporated_sonoma,LEA60_pba40,0.67,2.333333,35.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,340332,314875459798,286,286,fremont,RESM4_pba40,23.00,3.466667,30.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# read zoningmods input files

p_g = pd.read_csv(r'C:\Users\ywang\Box\Modeling and Surveys\Urban Modeling\Bay Area UrbanSim\PBA50\PBA50 Final Blueprint Large General Input Data\2020_11_10_parcels_geography.csv',
                  usecols = ['PARCEL_ID', 'fbpzoningmodcat', 'nodev'])
zmods = pd.read_csv(r'C:\Users\ywang\Documents\GitHub\bayarea_urbansim\data\zoning_mods_24.csv')
zoningmods = p_g.merge(zmods, on='fbpzoningmodcat', how='left')
print('zoningmods has {} records'.format(zoningmods.shape[0]))

zoningmods has 1956208 records

In [5]:
zoningmods.head()

,PARCEL_ID,fbpzoningmodcat,nodev,modcat_id,FREQUENCY,SUM_ACRES,manual_county,zone,juris,gg_id,...,add_bldg,drop_bldg,dua_up,far_up,dua_down,far_down,subsidy,notes,res_rent_cat,job_out_cat
0,229116,livermoreNANAHRADISNAinNA,0.0,782,462,501.766781,1,725,livermore,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,244166,livermoreNAtra3DISNAinNA,0.0,793,3041,1998.371566,1,715,livermore,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202378,haywardNANANANAinNA,0.0,684,1446,1388.870289,1,820,hayward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004420,unincorporated_sonomaNANAHRADISNAoutNA,0.0,2768,2947,140734.550800,97,1401,unincorporated_sonoma,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,340332,fremontNANAHRADISNAinNA,1.0,603,6692,2717.938841,1,763,fremont,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
zoningmerge = basezoning.merge(zoningmods, on='PARCEL_ID', how='outer')
print('zoningmerge has {} records'.format(zoningmerge.shape[0]))

# create temporary fields to fill na in max_dua_basezoning and dua_up 
zoningmerge['dua_up_temp'] = zoningmerge['dua_up'].fillna(0)
zoningmerge['max_dua_basezoning_temp'] = zoningmerge['max_dua_basezoning'].fillna(0)
display(zoningmerge[['PARCEL_ID', 'juris', 'max_dua_basezoning','dua_up']])

zoningmerge has 1956208 records

         PARCEL_ID                  juris  max_dua_basezoning  dua_up
0           229116              livermore                 NaN     NaN
1           244166              livermore               14.00     NaN
2           202378                hayward                8.70     NaN
3          2004420  unincorporated_sonoma                0.67     NaN
4           340332                fremont               23.00     NaN
...            ...                    ...                 ...     ...
1956203     650584              pittsburg                 NaN    35.0
1956204     650683              pittsburg                 NaN    35.0
1956205     651123              pittsburg                 NaN    35.0
1956206     680555                 moraga                 NaN     NaN
1956207    1417213               campbell                 NaN    35.0

[1956208 rows x 4 columns]

In [7]:
# calculate final max_dua used in urbansim
zoningmerge['max_dua_urbansim'] = zoningmerge['max_dua_basezoning_temp']
zoningmerge['max_dua_source'] = 'basezoning'
zoningmerge.loc[zoningmerge.dua_up_temp > zoningmerge.max_dua_basezoning_temp,
                'max_dua_source'] = 'zoningmods'
zoningmerge.loc[zoningmerge.dua_up_temp > zoningmerge.max_dua_basezoning_temp,
                'max_dua_urbansim'] = zoningmerge['dua_up_temp']

In [8]:
# label parcels with old building and parcels too small to develop

basemap_b10 = pd.read_csv(r'M:\Data\GIS layers\UrbanSim smelt\2020 03 12\b10.csv')
# conver PARCEL_ID to integer:
basemap_b10['parcel_id'] = basemap_b10['parcel_id'].apply(lambda x: int(round(x)))
print("Read {:,} rows from b10".format(basemap_b10.shape[0]))
display(basemap_b10.head())
print('b10 building data has {:,} unique PARCEL_ID'.format(len(basemap_b10.parcel_id.unique())))

basemap_p10 = pd.read_csv(r'M:\Data\GIS layers\UrbanSim smelt\2020 03 12\p10.csv',
                          usecols =['PARCEL_ID', 'ACRES', 'LAND_VALUE'])
# conver PARCEL_ID to integer:
basemap_p10['PARCEL_ID'] = basemap_p10['PARCEL_ID'].apply(lambda x: int(round(x)))
print("Read {:,} rows from p10".format(basemap_p10.shape[0]))
display(basemap_p10.head())
print('Number of unique PARCEL_ID: {}'.format(len(basemap_p10.PARCEL_ID.unique())))

Read 1,843,351 rows from b10

,OBJECTID,building_id,parcel_id,development_type_id,improvement_value,residential_units,residential_sqft,sqft_per_unit,non_residential_sqft,building_sqft,nonres_rent_per_sqft,res_price_per_sqft,stories,year_built,redfin_sale_price,redfin_sale_year,redfin_home_type,costar_property_type,costar_rent,id
0,1,1,742974,1,0.00,1,2029,2029.42425,0,2029.42425,0.0,302.769751,1,1945,NaN,NaN,NaN,NaN,NaN,1
1,2,2,744961,1,0.00,1,2029,2029.42425,0,2029.42425,0.0,254.429279,1,1965,NaN,NaN,NaN,NaN,NaN,2
2,3,3,1442641,1,53262.87,1,1568,1568.00000,0,1568.00000,0.0,183.474166,1,1964,NaN,NaN,NaN,NaN,NaN,3
3,4,4,190969,2,245000.00,0,0,1266.00000,1595,1266.00000,0.0,0.000000,2,1992,340000.0,2003.0,Condo/Coop,NaN,NaN,4
4,5,5,308709,2,283500.00,0,0,1513.00000,1513,1513.00000,0.0,0.000000,1,1978,442000.0,2004.0,Condo/Coop,NaN,NaN,5

b10 building data has 1,843,292 unique PARCEL_ID
Read 1,956,208 rows from p10

   PARCEL_ID  LAND_VALUE       ACRES
0     229116         0.0    3.360520
1     244166         0.0    1.294423
2     202378   6036500.0   14.993605
3    2004420    179954.0  316.247146
4     340332         0.0    0.621275

Number of unique PARCEL_ID: 1956208

In [9]:
# join parcels to buildings which is used to determine current built-out condition
building_parcel = pd.merge(left=basemap_b10, 
                           right=basemap_p10[['PARCEL_ID','LAND_VALUE','ACRES']],
                           left_on='parcel_id', 
                           right_on='PARCEL_ID', 
                           how='outer')

# aggregate buildings at the parcel level
building_groupby_parcel = building_parcel.groupby(['PARCEL_ID']).agg({
    'ACRES'               :'max',
    'LAND_VALUE'          :'max',
    'improvement_value'   :'sum',
    'residential_units'   :'sum',
    'residential_sqft'    :'sum',
    'non_residential_sqft':'sum',
    'building_sqft'       :'sum',
    'year_built'          :'min',
    'building_id'         :'min'}) # all buildings must be vacant to call this building_vacant

# Identify parcels with old buildings which are protected (if multiple buildings on one parcel, take the oldest)
# and not build on before-1940 parcels
building_groupby_parcel['building_age'] = 'missing'
building_groupby_parcel.loc[building_groupby_parcel.year_built >= 2000, 'building_age' ] = 'after 2000'
building_groupby_parcel.loc[building_groupby_parcel.year_built <  2000, 'building_age' ] = '1980-2000'
building_groupby_parcel.loc[building_groupby_parcel.year_built <  1980, 'building_age' ] = '1940-1980'
building_groupby_parcel.loc[building_groupby_parcel.year_built <  1940, 'building_age' ] = 'before 1940'

building_groupby_parcel['has_old_building'] = False
building_groupby_parcel.loc[building_groupby_parcel.building_age == 'before 1940','has_old_building'] = True
print('Parcel statistics by the age of the oldest building: \n {}'.format(building_groupby_parcel.building_age.value_counts()))


# Identify single-family parcels smaller than 0.5 acre
building_groupby_parcel['small_HS_parcel'] = False
small_HS_idx = (building_groupby_parcel.residential_units == 1.0) & (building_groupby_parcel.ACRES < 0.5)                   
building_groupby_parcel.loc[small_HS_idx, 'small_HS_parcel'] = True
print("Small single-family parcel statistics: \n {}".format(building_groupby_parcel.small_HS_parcel.value_counts()))

# Identify parcels smaller than 2000 sqft
building_groupby_parcel['small_parcel'] = False
small_parcel_idx = (building_groupby_parcel.ACRES * 43560.0) < 2000
building_groupby_parcel.loc[small_parcel_idx, 'small_parcel'] = True
print("Small parcel (<2000 sqft) statistics: \n {}".format(building_groupby_parcel.small_parcel.value_counts()))

Parcel statistics by the age of the oldest building:
 1940-1980      1031787
1980-2000       379332
before 1940     266686
after 2000      165485
missing         112918
Name: building_age, dtype: int64
Small single-family parcel statistics:
 True     1300144
False     656064
Name: small_HS_parcel, dtype: int64
Small parcel (<2000 sqft) statistics:
 False    1836277
True      119931
Name: small_parcel, dtype: int64

In [10]:
# merge the needed fields with zoningmerge_dua
building_groupby_parcel.reset_index(inplace=True)
building_groupby_parcel['PARCEL_ID'] = building_groupby_parcel['PARCEL_ID'].apply(lambda x: int(round(x)))
parcel_type = building_groupby_parcel[['PARCEL_ID', 'has_old_building', 'small_HS_parcel','small_parcel']]
print('parcel_type has {} records, with {} unique PARCEL_IDs'.format(parcel_type.shape[0], 
                                                                     len(parcel_type.PARCEL_ID.unique())))


zoningmerge_dua = zoningmerge[['PARCEL_ID', 'juris', 'max_dua_urbansim', 'max_dua_source', 
                               'max_dua_basezoning', 'dua_up', 'nodev']]

zoningmerge_dua = zoningmerge_dua.merge(parcel_type, on='PARCEL_ID', how='outer')
print('zoningmerge_dua has {} records, with {} unique PARCEL_IDs'.format(zoningmerge_dua.shape[0], 
                                                                         len(zoningmerge_dua.PARCEL_ID.unique())))

parcel_type has 1956208 records, with 1956208 unique PARCEL_IDs
zoningmerge_dua has 1956208 records, with 1956208 unique PARCEL_IDs

In [11]:
# combine max_dua_source and 'nodev' information

zoningmerge_dua['max_dua_source_final'] = zoningmerge_dua['max_dua_source']
zoningmerge_dua.loc[zoningmerge_dua.has_old_building == True, 'max_dua_source_final'] = 'old building (pre 1940)'
zoningmerge_dua.loc[(zoningmerge_dua.small_HS_parcel == True) | (zoningmerge_dua.small_parcel == True), 
                    'max_dua_source_final'] = 'small parcel'
zoningmerge_dua.loc[zoningmerge_dua.nodev == 1, 'max_dua_source_final'] = 'nodev'

In [12]:
# export with key needed fields
display(zoningmerge_dua)

zoningmerge_dua.to_csv(r'M:\Data\Urban\BAUS\PBA50\Final_Blueprint\Zoning Modifications\final_zoning_urbansim\zoning_urbansim_max_dua.csv', index=False)

,PARCEL_ID,juris,max_dua_urbansim,max_dua_source,max_dua_basezoning,dua_up,nodev,has_old_building,small_HS_parcel,small_parcel,max_dua_source_final
0,229116,livermore,0.00,basezoning,NaN,NaN,0.0,False,False,False,basezoning
1,244166,livermore,14.00,basezoning,14.00,NaN,0.0,False,False,False,basezoning
2,202378,hayward,8.70,basezoning,8.70,NaN,0.0,False,False,False,basezoning
3,2004420,unincorporated_sonoma,0.67,basezoning,0.67,NaN,0.0,False,False,False,basezoning
4,340332,fremont,23.00,basezoning,23.00,NaN,1.0,False,False,False,nodev
...,...,...,...,...,...,...,...,...,...,...,...
1956203,650584,pittsburg,35.00,zoningmods,NaN,35.0,0.0,False,True,False,small parcel
1956204,650683,pittsburg,35.00,zoningmods,NaN,35.0,0.0,False,True,False,small parcel
1956205,651123,pittsburg,35.00,zoningmods,NaN,35.0,0.0,False,True,False,small parcel
1956206,680555,moraga,0.00,basezoning,NaN,NaN,0.0,False,False,False,basezoning
1956207,1417213,campbell,35.00,zoningmods,NaN,35.0,0.0,False,True,False,small parcel

In [13]:
# export San Francisco data

zoningmerge_dua_sanfrancisco = zoningmerge_dua.loc[zoningmerge_dua.juris == 'san_francisco']
print('export {} records for San Francisco'.format(zoningmerge_dua_sanfrancisco.shape[0]))
zoningmerge_dua_sanfrancisco.to_csv(r'M:\Data\Urban\BAUS\PBA50\Final_Blueprint\Zoning Modifications\final_zoning_urbansim\zoning_urbansim_max_dua_sanfrancisco.csv', index=False)

export 153355 records for San Francisco