In [1]:
import os
import pandas as pd

In [2]:
# set working directory
working_dir = 'C:\\Users\\{}\\Documents\\GitHub\\petrale\\policies\\plu\\hybrid_index'.format(os.getenv('USERNAME'))
os.chdir(working_dir)

In [3]:
# read Draft Blueprint hybrid index
db_hybrid_idx = pd.read_csv('idx_urbansim.csv')
#display(db_hybrid_idx.head())
fb_hybrid_idx = db_hybrid_idx.copy()

# read hybrid index updating lookup
idx_update = pd.read_csv('hybrid_idx_update_10192020.csv')
#display(idx_update.head())

fb_hybrid_idx = fb_hybrid_idx.merge(idx_update,
                                    left_on='juris_name',
                                    right_on='juris',
                                    how='left')
display(fb_hybrid_idx)

,juris_name,proportion_adj_far,max_far_idx,proportion_adj_dua,max_dua_idx,proportion_adj_height,max_height_idx,HS_idx,HT_idx,HM_idx,...,MR_idx,MT_idx,ME_idx,juris,MAX FAR,MAX DUA,Recommended Action,max_far,max_dua,blg_type
0,alameda,1.0,0,1.0,0,1.0,1,1,1,1,...,1,1,1,alameda,NaN,NaN,Use PBA40,0.0,0.0,0.0
1,albany,1.0,0,1.0,1,1.0,1,1,1,1,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,american_canyon,1.0,0,1.0,0,1.0,1,1,1,1,...,1,1,1,american_canyon,NaN,NaN,Use PBA40,0.0,0.0,0.0
3,antioch,1.0,1,1.0,0,1.0,1,0,1,1,...,1,1,1,antioch,FIX,FIX,Use PBA40 for FAR/ BASIS for DUA/ PBA40 for Bl...,0.0,1.0,0.0
4,atherton,1.0,0,1.0,0,1.0,1,1,1,1,...,1,1,1,atherton,NaN,NaN,Use PBA40,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,vallejo,1.0,0,1.0,0,1.0,1,1,1,0,...,0,1,1,vallejo,NO FIX,NO FIX,Use PBA40,0.0,0.0,0.0
105,walnut_creek,1.0,0,1.0,0,1.0,1,0,1,1,...,1,1,1,walnut_creek,NaN,NaN,Use PBA40,0.0,0.0,0.0
106,windsor,1.0,0,1.0,0,1.0,1,0,1,1,...,1,1,1,windsor,NaN,NaN,Use PBA40,0.0,0.0,0.0
107,woodside,1.0,0,1.0,0,1.0,1,0,1,1,...,1,0,0,woodside,NO FIX,FIX,Use PBA40,0.0,0.0,0.0
108,yountville,1.0,0,1.0,0,1.0,1,1,1,1,...,1,1,0,yountville,NaN,NaN,Use PBA40,0.0,0.0,0.0

In [4]:
# update max_far_index and max_dua_index

for attr in ['max_far', 'max_dua']:
    
    fb_hybrid_idx['updated_'+attr+'_idx'] = False
    
    chg_idx = fb_hybrid_idx[attr].notnull() & (fb_hybrid_idx[attr] != fb_hybrid_idx[attr+'_idx'])
    
    print('updated {} for {} jurisdiction: \n {}'.format(
        attr, 
        chg_idx.sum(),
        list(fb_hybrid_idx.loc[chg_idx, 'juris_name'])))
    
    fb_hybrid_idx.loc[chg_idx, attr+'_idx'] = fb_hybrid_idx.loc[chg_idx, attr]
    fb_hybrid_idx.loc[chg_idx, 'updated_'+attr+'_idx'] = True    
    
    chk = fb_hybrid_idx[attr].notnull() & (fb_hybrid_idx[attr] != fb_hybrid_idx[attr+'_idx'])
    assert chk.sum() == 0
        
display(fb_hybrid_idx)

updated max_far for 18 jurisdiction:
 ['antioch', 'brisbane', 'calistoga', 'fairfax', 'fremont', 'hayward', 'lafayette', 'mill_valley', 'mountain_view', 'newark', 'novato', 'oakland', 'petaluma', 'pleasant_hill', 'st_helena', 'sunnyvale', 'unincorporated_marin', 'unincorporated_sonoma']
updated max_dua for 14 jurisdiction:
 ['antioch', 'healdsburg', 'lafayette', 'mountain_view', 'oakland', 'orinda', 'piedmont', 'pittsburg', 'pleasant_hill', 'pleasanton', 'san_jose', 'santa_rosa', 'unincorporated_marin', 'unincorporated_solano']

,juris_name,proportion_adj_far,max_far_idx,proportion_adj_dua,max_dua_idx,proportion_adj_height,max_height_idx,HS_idx,HT_idx,HM_idx,...,ME_idx,juris,MAX FAR,MAX DUA,Recommended Action,max_far,max_dua,blg_type,updated_max_far_idx,updated_max_dua_idx
0,alameda,1.0,0.0,1.0,0.0,1.0,1,1,1,1,...,1,alameda,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False
1,albany,1.0,0.0,1.0,1.0,1.0,1,1,1,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False
2,american_canyon,1.0,0.0,1.0,0.0,1.0,1,1,1,1,...,1,american_canyon,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False
3,antioch,1.0,0.0,1.0,1.0,1.0,1,0,1,1,...,1,antioch,FIX,FIX,Use PBA40 for FAR/ BASIS for DUA/ PBA40 for Bl...,0.0,1.0,0.0,True,True
4,atherton,1.0,0.0,1.0,0.0,1.0,1,1,1,1,...,1,atherton,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,vallejo,1.0,0.0,1.0,0.0,1.0,1,1,1,0,...,1,vallejo,NO FIX,NO FIX,Use PBA40,0.0,0.0,0.0,False,False
105,walnut_creek,1.0,0.0,1.0,0.0,1.0,1,0,1,1,...,1,walnut_creek,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False
106,windsor,1.0,0.0,1.0,0.0,1.0,1,0,1,1,...,1,windsor,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False
107,woodside,1.0,0.0,1.0,0.0,1.0,1,0,1,1,...,0,woodside,NO FIX,FIX,Use PBA40,0.0,0.0,0.0,False,False
108,yountville,1.0,0.0,1.0,0.0,1.0,1,1,1,1,...,0,yountville,NaN,NaN,Use PBA40,0.0,0.0,0.0,False,False

In [5]:
# update allowable dev type index

fb_hybrid_idx['updated_res_blgType_idx'] = False
fb_hybrid_idx['updated_nonres_blgType_idx'] = False

fb_hybrid_idx['res_type_sum'] = fb_hybrid_idx[['HS_idx','HT_idx','HM_idx','MR_idx']].sum(axis=1)
fb_hybrid_idx['nonres_type_sum'] = fb_hybrid_idx[['OF_idx','HO_idx','SC_idx','IL_idx','IW_idx','IH_idx',
                                                  'RS_idx','RB_idx','MR_idx','MT_idx','ME_idx']].sum(axis=1)

display(fb_hybrid_idx[['HS_idx','HT_idx','HM_idx','OF_idx','HO_idx','SC_idx','IL_idx',
                       'IW_idx','IH_idx','RS_idx','RB_idx','MR_idx','MT_idx','ME_idx',
                       'juris_name','res_type_sum','nonres_type_sum','blg_type']])

res_chg_idx = ((fb_hybrid_idx.blg_type == 1) & (fb_hybrid_idx.res_type_sum != 4)
                  ) | (
               (fb_hybrid_idx.blg_type == 0) & (fb_hybrid_idx.res_type_sum != 0))

nonres_chg_idx = ((fb_hybrid_idx.blg_type == 1) & (fb_hybrid_idx.nonres_type_sum != 11)
                     ) | (
                  (fb_hybrid_idx.blg_type == 0) & (fb_hybrid_idx.nonres_type_sum != 0))

fb_hybrid_idx.loc[res_chg_idx, 'updated_res_blgType_idx'] = True
fb_hybrid_idx.loc[nonres_chg_idx, 'updated_nonres_blgType_idx'] = True

print('updated residential devType for {} jurisdiction: \n {}\n'.format(
    res_chg_idx.sum(),
    list(fb_hybrid_idx.loc[res_chg_idx, 'juris_name'])))

print('updated non-residential devType for {} jurisdiction: \n {}'.format(
    nonres_chg_idx.sum(),
    list(fb_hybrid_idx.loc[nonres_chg_idx, 'juris_name'])))


for devType in ['HS','HT','HM','MR']:
    fb_hybrid_idx.loc[res_chg_idx, devType+'_idx'] = fb_hybrid_idx.loc[res_chg_idx, 'blg_type']

for devType in ['OF','HO','SC','IL','IW','IH','RS','RB','MR','MT','ME']:
    fb_hybrid_idx.loc[nonres_chg_idx, devType+'_idx'] = fb_hybrid_idx.loc[nonres_chg_idx, 'blg_type']
    
fb_hybrid_idx['res_type_sum_chk'] = fb_hybrid_idx[['HS_idx','HT_idx','HM_idx','MR_idx']].sum(axis=1)
res_chk = ((fb_hybrid_idx.blg_type == 1) & (fb_hybrid_idx.res_type_sum_chk != 4)
              ) | (
           (fb_hybrid_idx.blg_type == 0) & (fb_hybrid_idx.res_type_sum_chk != 0))
assert res_chk.sum() == 0

fb_hybrid_idx['nonres_type_sum_chk'] = fb_hybrid_idx[['OF_idx','HO_idx','SC_idx','IL_idx','IW_idx','IH_idx',
                                                      'RS_idx','RB_idx','MR_idx','MT_idx','ME_idx']].sum(axis=1)
nonres_chk = ((fb_hybrid_idx.blg_type == 1) & (fb_hybrid_idx.nonres_type_sum_chk != 11)
                 ) | (
              (fb_hybrid_idx.blg_type == 0) & (fb_hybrid_idx.nonres_type_sum_chk != 0))
assert nonres_chk.sum() == 0


display(fb_hybrid_idx[['juris_name',
                       'updated_max_dua_idx','updated_max_far_idx',
                       'max_far_idx','max_far','max_dua_idx','max_dua',
                       'updated_res_blgType_idx','updated_nonres_blgType_idx',
                       'res_type_sum','nonres_type_sum','blg_type']])

,HS_idx,HT_idx,HM_idx,OF_idx,HO_idx,SC_idx,IL_idx,IW_idx,IH_idx,RS_idx,RB_idx,MR_idx,MT_idx,ME_idx,juris_name,res_type_sum,nonres_type_sum,blg_type
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,alameda,4,11,0.0
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,albany,4,11,NaN
2,1,1,1,1,0,0,1,1,1,0,0,1,1,1,american_canyon,4,7,0.0
3,0,1,1,1,1,1,1,1,1,1,1,1,1,1,antioch,3,11,0.0
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,atherton,4,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,1,1,0,1,1,1,1,1,1,1,1,0,1,1,vallejo,2,10,0.0
105,0,1,1,1,1,1,1,1,1,1,1,1,1,1,walnut_creek,3,11,0.0
106,0,1,1,1,1,1,1,1,1,1,1,1,1,1,windsor,3,11,0.0
107,0,1,1,0,0,0,0,0,1,0,0,1,0,0,woodside,3,2,0.0
108,1,1,1,0,0,1,1,1,1,0,1,1,1,0,yountville,4,7,0.0

updated residential devType for 73 jurisdiction:
 ['alameda', 'american_canyon', 'antioch', 'atherton', 'belmont', 'benicia', 'brentwood', 'calistoga', 'campbell', 'clayton', 'cloverdale', 'colma', 'concord', 'cotati', 'danville', 'dixon', 'dublin', 'east_palo_alto', 'el_cerrito', 'fairfax', 'fairfield', 'foster_city', 'fremont', 'gilroy', 'half_moon_bay', 'hayward', 'healdsburg', 'hillsborough', 'larkspur', 'martinez', 'menlo_park', 'mill_valley', 'millbrae', 'milpitas', 'mountain_view', 'napa', 'newark', 'novato', 'oakland', 'orinda', 'pacifica', 'petaluma', 'piedmont', 'pinole', 'pittsburg', 'pleasant_hill', 'pleasanton', 'portola_valley', 'richmond', 'rio_vista', 'ross', 'san_anselmo', 'san_francisco', 'san_mateo', 'san_rafael', 'santa_clara', 'santa_rosa', 'saratoga', 'sebastopol', 'south_san_francisco', 'st_helena', 'suisun_city', 'sunnyvale', 'tiburon', 'unincorporated_napa', 'unincorporated_solano', 'unincorporated_sonoma', 'union_city', 'vallejo', 'walnut_creek', 'windsor', 'woodside', 'yountville']

updated non-residential devType for 72 jurisdiction:
 ['alameda', 'american_canyon', 'antioch', 'atherton', 'belmont', 'benicia', 'brentwood', 'brisbane', 'calistoga', 'campbell', 'clayton', 'cloverdale', 'colma', 'concord', 'cotati', 'danville', 'dixon', 'dublin', 'east_palo_alto', 'el_cerrito', 'fairfax', 'fairfield', 'foster_city', 'fremont', 'gilroy', 'half_moon_bay', 'hayward', 'hillsborough', 'larkspur', 'martinez', 'menlo_park', 'mill_valley', 'millbrae', 'milpitas', 'morgan_hill', 'mountain_view', 'napa', 'newark', 'novato', 'oakland', 'orinda', 'pacifica', 'petaluma', 'piedmont', 'pinole', 'pittsburg', 'pleasanton', 'portola_valley', 'richmond', 'rio_vista', 'ross', 'san_anselmo', 'san_francisco', 'san_mateo', 'san_rafael', 'santa_clara', 'santa_rosa', 'saratoga', 'sebastopol', 'south_san_francisco', 'st_helena', 'suisun_city', 'sunnyvale', 'tiburon', 'unincorporated_napa', 'unincorporated_solano', 'union_city', 'vallejo', 'walnut_creek', 'windsor', 'woodside', 'yountville']

,juris_name,updated_max_dua_idx,updated_max_far_idx,max_far_idx,max_far,max_dua_idx,max_dua,updated_res_blgType_idx,updated_nonres_blgType_idx,res_type_sum,nonres_type_sum,blg_type
0,alameda,False,False,0.0,0.0,0.0,0.0,True,True,4,11,0.0
1,albany,False,False,0.0,NaN,1.0,NaN,False,False,4,11,NaN
2,american_canyon,False,False,0.0,0.0,0.0,0.0,True,True,4,7,0.0
3,antioch,True,True,0.0,0.0,1.0,1.0,True,True,3,11,0.0
4,atherton,False,False,0.0,0.0,0.0,0.0,True,True,4,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
104,vallejo,False,False,0.0,0.0,0.0,0.0,True,True,2,10,0.0
105,walnut_creek,False,False,0.0,0.0,0.0,0.0,True,True,3,11,0.0
106,windsor,False,False,0.0,0.0,0.0,0.0,True,True,3,11,0.0
107,woodside,False,False,0.0,0.0,0.0,0.0,True,True,3,2,0.0
108,yountville,False,False,0.0,0.0,0.0,0.0,True,True,4,7,0.0

In [6]:
fb_hybrid_idx[list(db_hybrid_idx) + ['updated_max_dua_idx', 'updated_max_far_idx',
               'updated_res_blgType_idx','updated_nonres_blgType_idx']].to_csv('idx_urbansim_fb_10192020.csv',index=False)